{% extends 'base.html.twig' %}

{% block title %}Hello RentalController!{% endblock %}

{% block body %}

    <h1>Rental index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom et prenom du conducteur</th>
            <th>Marque et modèle voiture  </th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.id }}</td>
                <td> <a href="{{ path('driver_show',{id:rental.conducteur.id}) }}">{{ rental.conducteur.lastname}}  {{ rental.conducteur.firstname}}</td>
                <td> <a href="{{ path('vehicle_show',{id:rental.vehicule.id}) }}">{{ rental.vehicule.brand }}  {{ rental.vehicule.model }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rental_create') }}">Create new</a>

{% endblock %}
