{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1>Vehicle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Immatriculation</th>

                <th>Model et Marque</th>

            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td><a href="{{ path('vehicle_show', {'id': vehicle.id}) }}">{{ vehicle.immatriculation }}</a></td>
                <td> {{ vehicle.model }}   {{ vehicle.brand }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_new') }}">Create new</a>
{% endblock %}
